.relative-container {
    position: relative;
    padding-left: 10px;
}

.relative-container .dot {
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 353px) and (max-width: 768px) {
    .info-container {
        padding: 10px;
        background-color: #e03434;
    }

    .info-container .info-title {
        padding-left: 15px;
    }

    .address-form input[type="text"].field-addr {
        width: 50% !important;
        margin-left: 38px;
        margin-right: 6px !important;
    }

    .size-sm {
        display: block;
        padding-top: 1px;
        padding-bottom: 20px !important;
        background-color: #511515;
    }

    .size-md {
        display: none;
    }
}

@media screen and (max-width: 352px) {
    .address-form input[type="text"].field-addr {
        width: 47% !important;
        margin-left: 28px;
        margin-right: 5px !important;
    }
}

@media screen and (min-width: 769px) {
    .info-container {
        padding: 40px;
        background-color: #e03434;
    }

    .address-form input[type="text"].field-addr {
        width: 64% !important;
        margin-left: 132px;
        margin-right: 6px !important;
    }

    .size-sm {
        display: none;
    }

    .size-md {
        display: block;
        background-color: #511515;
    }

    .prize-info .info-content > div {
        margin-bottom: 5px;
    }
}

.form-container {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.form-header {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.56;
    letter-spacing: -0.72px;
    text-align: left;
    color: #3e2121;
    margin-bottom: 20px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.row-flex-start {
    display: flex;
    justify-content: flex-start;
}

.row-flex-start label {
    padding-top: 2px;
}

.address-form label {
    font-size: 12px;
    text-align: left;
    color: #736161;
}

.address-form input[type="text"] {
    width: 75%;
    border-color: #ececec;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: solid;
    border-width: 1px;
    margin-right: 15px;
    font-size: 12px;
}

.address-form .search-address {
    background-color: #292625;
    border: 1px solid #292625;
    color: #f0f0f0;
    font-size: 10px;
    padding: 0 15px;
    margin-right: 15px;
}

.address-form .checkbox-name {
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    text-align: left;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    margin: 25px 0;
}

.guide_text {
    width: 130%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.address-form-submit-button {
    background-color: #f82e2e;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-width: 0;
    margin-top: 35px;
    margin-bottom: 15px;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
}

.address-form-submit-button.disabled {
    background-color: #efefef;
}

.prize-info {
    padding-top: 5px;
    padding-bottom: 35px;
    margin-top: 10px;
    padding-left: 5%;
}

.prize-info .info-title {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: left;
    margin-top: 25px;
}

.prize-info .info-content {
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-align: left;
    margin-top: 7px;
}

.prize-info .info-content.category {
    padding-left: 15px;
}

.prize-info .list-item-text {
    display: inline-block;
    margin: 0 10px 9px 6px;
}
